@import "tailwindcss";

/* Global layout fixes */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

/* ================================
   Thin Scrollbar
================================ */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd transparent;
}

/* Optional viewport rule */
@viewport {
  width: device-width;
  zoom: 1;
}

/* Mobile font size */
@media (max-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
}

/* Custom font utility classes */
.font-roboto {
  font-family: "Roboto", sans-serif;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}